<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title>Blockhain Hackathon</title>
    </head>
    <body class="index">
        <header class="jumbotron align-self-center">
            <div class="container justify-content-center ">
                <h1 class="text-center">Blockhain Hackathon</h1>
            </div>
        </header>
        <div class="container align-items-center">
            <h1 class="align-items-center text-center text-success">Your product is legit.</h1>
        </div>
    </body>
</html>